# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
*.env

# Editors
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.log

# OS
.cache/
